@charset "utf-8";

*{
margin: 0;
padding: 0;}

a {
    text-decoration: none;
    color: #f9f9f9;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}


body {
font-family: 'Pretendard';
color: #f9f9f9;
font-size: 13px;
line-height: 24px;  
min-width:1450px;

}


/*헤더*/
#header{
background: linear-gradient(to top, #0000007a, #22222204);
height: 70px;/*높이 줄임*/
width: 100%;
z-index: 5;
align-items: center;
box-sizing: border-box;
position: fixed; 
}

.header_inner{
    width: 1320px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.gnb{
display: flex;
justify-content: space-between
}


.gnb li{
    padding: 30px 20px;
    font-size: 14px;

}

.gnb li:hover a{
    color: #000;
    font-weight: 500;
}

.login{
    display: flex;
    justify-content: end; 
}

.login li{
    padding: 15px;
    font-size: 12px; 
}

.login li a{
    color: #f9f9f9;
    font-weight: 500;
}

.login li:hover a{
    color: #000;
    font-weight: 500;
}

/*헤더 로고 효과*/
.logo_container {
        width: 70px;
    }


.logo_main {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.logo_container:hover .logo_main {
    transform: rotateY(180deg);
}

.logo_front img {
    backface-visibility: hidden;
    width: 70px;

}

.logo_back img {
    position: absolute;
    backface-visibility: hidden;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
/*헤더 로고 회전 효과*/
/*헤더*/






#magazine{
    padding-top:200px;
    width: 100%;
    margin: 0 auto;
   
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 510px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

h1{
    text-align: center;
    font-size: 50px;
    color: #000000ca;
    font-family: 'Catchye Demo';
    padding-bottom: 30px;
    letter-spacing: 5px;
  }





/*구독 호버버튼*/
/*구독 호버버튼*/
:root {
    --bg: #3C465C;
    --primary: #640101df;
    --solid: #ffffffe3;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
  }
  * {box-sizing: border-box;}
  *:before, *:after {box-sizing: border-box;}
  
 .container {
    font-family: 'D2Coding';
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    font-size: 17px;
    padding-top: 50px;
  }

  .btn {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;  
  }
  .dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 0.1s ease;
    display: none;
  }
  .dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
          0 0 2em var(--primary);
  }
  .btn:hover .dot,
  .btn:focus .dot {
    animation:atom 1.5s infinite linear;
    display: block;
  }
  @keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
  }
/*구독 호버버튼*/
/*구독 호버버튼*/


/*호버 불투명 효과*/
/*호버 불투명 효과*/
.swiper-wrapper img {
	opacity: 1;
	-webkit-transition:0.4s ease-in-out;
	transition: 0.2s ease-in-out; 
    position: relative;
}

.swiper-wrapper .swiper-slide:hover img{
    -webkit-filter: blur(10px);
	filter: blur(10px);
    opacity: 100%;
}

.text{

    position: absolute;
top: 100px;
left: 0;
width: 100%;
opacity: 0;
text-align: center;
justify-content: center;
opacity:0;
transition: all 0.5s;
}

.swiper-wrapper .swiper-slide:hover  .text {
    opacity: 1;
}
/*호버 불투명 효과*/
/*호버 불투명 효과*/

.text h6{
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}

.text p{
    padding-top: 20px;
    color: #450101;
    font-size: 16px;
    font-weight: 700;

}







  #qna{
    font-size: 14px;
    width: 1320px;
    margin: 0 auto;
    padding-top: 220px;
    color: #000;
padding-bottom: 150px;
  }




/*제이쿼리  효과*/

  .question {
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1.5px solid #414141e6;
}

.answer {
    background-color: #1f1f1f11;
    padding: 30px;
    display: none;
}

/*제이쿼리  효과*/






/*footer*/
#footer{
    background-color: #1f2425;
    padding-bottom: 30px;
}

.footer_inner{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer_text{
    padding-top: 20px;
}

.footer_hover{
    display: flex;
    font-size: 13px;
    color: #f9f9f9;
    padding: 15px 0;
    }

.fax{
    display: flex;
    font-size: 11px;
    color: #999;
}
.fax a{
    color: #999;
}

.sns{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.sns li, .footer_text li{
    padding-right: 15px;
}


/*sns 로고 블러*/
.sns {
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.sns :hover a {
    -webkit-filter: blur(2px);
	filter: blur(2px);
}
/*sns 로고 블러*/

/*footer*/